__pycache__/
*.pyc
/src/movies.json
/src/actors.json
/src/useful_mongoimport.txt
.vscode/
virt/
/src/flask_config/constants.py
# Elastic Beanstalk Files
/src/elasticbeanstalk/*
!/src/elasticbeanstalk/*.cfg.yml
!/src/elasticbeanstalk/*.global.yml
