__pycache__/
*.pyc
/src/movies.json
/src/actors.json
/src/useful_mongoimport.txt
.vscode/
virt/
/src/flask_config/constants.py
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
