__pycache__/
*.pyc
/src/movies.json
/src/actors.json
/src/useful_mongoimport.txt
.vscode/
venv/
/src/flask_config/constants.py
# Elastic Beanstalk Files
/src/elasticbeanstalk/*
/src/.ebextensions/*
!/src/elasticbeanstalk/*.cfg.yml
!/src/elasticbeanstalk/*.global.yml
